main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    padding-block: 16px;

    & img {
        object-fit: cover;
        width: 100%;
    }
}


@media (width >= 80em) {
    main {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        padding-block: 24px;

        & img {
            width: 286px;
            height: 286px;
            object-fit: cover;
        }
    }
}